*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.contenedorPrincipal{
  max-width: 1200px;
  padding: 0px 50px;
  margin: auto;
}

.headerPage{
  width: 100%;
  height: 70px;
  padding-right: 100px;
  box-shadow: 10px 0px 5px grey;
  text-align: right;
}

.headerPage .menuPrincipal{
  display: inline-block;
  list-style: none;
  margin: 24px 0px;
}

.headerPage .menuPrincipal li{
  display: inline-block;
  margin: 0px 20px;
}

.headerPage button{
  display: inline-block;
  margin-left: 40px;
}

.formulario{
  width: 400px;
  height: 300px;
  padding-top: 35px;
  background-color:#c1d72f;
  margin: auto;
}

.formulario form input[type=text]{
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #d7e57a;
}

.formulario form input[type=submit]{
  display: block;
  margin: 30px auto ;
}

.separador{
  width: 100%;
}

.separador h3{
  display: inline-block;
  width: 140px;
}

.separador span{
  position: relative;
  top: -3px;
  display: inline-block;
  width: calc(100% - 150px);
  height: 2px;
  background-color:#c1d72f;
}

.tarjeta01{
  display: inline-block;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 0px 10px 2px #ccc;
}

.tarjeta01:nth-child(5){
  margin-right: unset;
}

.tarjeta01 img{
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #c1d72f;
}

.tarjeta01 h4{
  display: block;
  margin: 10px 0px;
}

.tarjeta01 span{
  display: block;
  margin-bottom: 20px;
}

.tarjeta01 button{
  display: block;
  margin: auto;

}